<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>umbridgesrules (Using input.txt and output.txt).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>umbridgesrules (Using input.txt).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>umbridgesrules.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7090D3D01EFB30B700208B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7090D3D61EFB30B700208B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7090D3DB1EFB30B700208B05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
